<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370947346419-07oac35pnr2f0te2km4cm5p1mf6t9165.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370947346419-07oac35pnr2f0te2km4cm5p1mf6t9165</string>
	<key>API_KEY</key>
	<string>AIzaSyDVY5Vokwcf2Pn_V4mVBleTuIR7l6wqR-I</string>
	<key>GCM_SENDER_ID</key>
	<string>370947346419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.sensetive</string>
	<key>PROJECT_ID</key>
	<string>sensetive-f6899</string>
	<key>STORAGE_BUCKET</key>
	<string>sensetive-f6899.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370947346419:ios:77cd4557648987201c4c86</string>
</dict>
</plist>